<head>
    <title>TEXTPAGE</title>
    <meta http-equiv="refresh" content="15; URL=http://127.0.0.1:8000/video1" >
</head>
<body style="font-size: 20px;line-height: 1.5;padding: 0px;margin: 0px">
    <div style="margin-left: 20%; margin-right: 20%; margin-top:5%; border: solid black 1px">
        <p style="text-align: center">Content uploaded by: {{user}}</p>
        <br>
        <hr>
        <br>
        <p style="text-align: center">{{text}}</p>
        <br>
        <hr>
        <br>
        <p style="text-align: center">Uploaded at {{time}}</p>
    </div>
</body>